{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
     <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>1</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>justin.bahier</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>user</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>123456</td>
            </tr>
        </tbody>
    </table>

    <a href="/">back to list</a>

    <a href="/">edit</a>

{% endblock %}
