{% extends 'base.html.twig' %}

{% block title %}Utilisateur
{% endblock %}

{% block body %}
	<h1>Utilisateur</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ Utilisateur.idutilisateur }}</td>
			</tr>
			<tr>
				<th>nom</th>
				<td>{{ Utilisateur.nom }}</td>
			</tr>
			<tr>
				<th>prenom</th>
				<td>{{ Utilisateur.prenom }}</td>
			</tr>
			<tr>
				<th>adresse</th>
				<td>{{ Utilisateur.adresse }}</td>
			</tr>
			<tr>
				<th>cartebancaire</th>
				<td>{{ Utilisateur.cartebancaire }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ Utilisateur.email }}</td>
			</tr>
			<tr>
				<th>Roles</th>
				<td>livreur ou user</td>
			</tr>
			<tr>
				<th>telephone</th>
				<td>{{ Utilisateur.telephone }}</td>
			</tr>
		</tbody>
	</table>

	{% endblock %}
