{% extends 'base.html.twig' %}

{% block title %}GoodFood
{% endblock %}

{% block body %}


	<div class="text-center">

		<h1 class="display-1">GoodFood</h1>

		<hr class="border-primary border-3 opacity-75">

		<div id="carouselExampleControls" class="carousel slide w-75 mx-auto" data-ride="carousel" style="">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100 ImgsCarousel " src="{{asset('Images/burgerSteak.jpg')}}" alt="First slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100 ImgsCarousel" src="{{asset('Images/pizzaSansTete.jpg')}}" alt="Second slide">
				</div>
				<div class="carousel-item">
					<img class="d-block w-100 ImgsCarousel" src="{{asset('Images/TacosMexicanos.jpeg')}}" alt="Third slide">
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<br>
	<figure class="text-center">
		<blockquote class="blockquote">
			<p>Super plateforme pour commander des repas et se faire livrer.</p>
		</blockquote>
		<figcaption class="blockquote-footer">
			Avis d'un utilisateur dans
			<cite title="Source Title">Google avis</cite>
		</figcaption>
	</figure>

	<hr class="border-primary border-3 opacity-75">
	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="d-grid gap-2 col-6 mx-auto">
				<a href="/liste_restaurant" class="btn btn-info  btn-block" tabindex="-1" role="button" aria-disabled="false">Trouver un restaurant</a>
			</div>
			<div class="col-3"></div>
		</div>
		<div class="row"><br></div>
		<div class="row">
			<div class="col-3"></div>
			<div class="d-grid gap-2 col-6 mx-auto">
				<a href="#" class="btn btn-info disabled btn-block" tabindex="-1" role="button" aria-disabled="true">Commander</a>

			</div>
			<div class="col-3"></div>
		</div>
	</div>

{% endblock %}
