<form method="post" action="{{ path('app_liste_restaurant_delete', {'idrestaurant': Restaurant.idrestaurant}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ Restaurant.idrestaurant) }}">
	<div class="vstack gap-2 col-md-5 mx-auto">

		<button class="btn btn-outline-danger">Supprimer</button>
	</div>

</form>
