{{ form_start(form) }}
<div class="row">
	<div class="col-3"></div>

	<div class="col-3">
		<label for="company_companyname" class="form-label">Nom Restaurant :</label>
		<br>
		<br>

		<label for="company_description" class="form-label">Description :</label>
		<br>
		<br>

		<label for="company_siret" class="form-label">Siret :</label>
		<br>
		<br>

		<label for="company_website" class="form-label">Site Internet :</label>
		<br>
		<br>

		<label for="company_department" class="form-label"> Adresse :</label>


	</div>
	<div class="col-2">

		{{ form_widget(form.nom) }}
		<br>
		<br>

		{{ form_widget(form.description) }}
		<br>
		<br>

		{{ form_widget(form.siret) }}
		<br>
		<br>

		{{ form_widget(form.siteinternet) }}
		<br>
		<br>

		{{ form_widget(form.adresse) }}
		<br>
		<br>

	</div>
	<div class="col-4"></div>

</div>
<center>
	<div class="vstack gap-2 col-md-5 mx-auto">

		<button class="btn btn-dark">{{ button_label|default('Enregistrer') }}</button>
	</div>
</center>

{{ form_end(form) }}
