{% extends 'base.html.twig' %}

{% block title %}Edit Company
{% endblock %}

{% block body %}

	<br>

	<div class="card text-white bg-dark card w-75 text-center mx-auto">
		<div class="card-header">
			<h1>Edition du Restaurant
				{{Restaurant.nom}}</h1>
		</div>
	</div>
	<br>
	<div>
		<div class="container">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8">
					<div class="card text-center">
						<div class="card-body">
							<br>
								{{ include('liste_restaurant/_form.html.twig', {'button_label': 'Update'}) }}
							<br>


							{{ include('liste_restaurant/_delete_form.html.twig') }}
							<br>
							<div class="vstack gap-2 col-md-5 mx-auto">

								<button type="button" class="btn btn-outline-secondary" onclick="window.location.href = '{{ path('app_liste_restaurant') }}';">Retour vers liste des restaurant</button>
							</div>


						</div>
					</div>
				</div>
				<div class="col-2"></div>
			</div>
		</div>
	</div>
{% endblock %}
