{% extends 'base.html.twig' %}

{% block title %}Liste des Restaurants
{% endblock %}

{% block body %}

	<br>

	<div class="card text-white bg-dark card w-75 text-center mx-auto">
		<div class="card-header">
			<h1>Liste des Restaurants</h1>
		</div>
	</div>

	<div class="m-3 border-dark">
		<table class="table text-center table-striped border-dark border-dark ">
			<thead class="text-black text-center">
				<tr>
					<th>#</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Siret</th>
					<th>Site Internet</th>
					<th>adresse</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for Restaurant in Restaurants %}


					<tr class="align-middle">
						<td>{{ Restaurant.idrestaurant }}</td>
						<td>{{ Restaurant.nom }}</td>
						<td>{{ Restaurant.description }}</td>
						<td>{{ Restaurant.siret }}</td>
						<td>
							<a href="{{ Restaurant.siteinternet }}" class="text-dark" style="text-decoration:none;">
								{{ Restaurant.siteinternet }}
							</a>
						</td>

						<td>{{ Restaurant.adresse }}</td>
						<td>
							<div class="d-grid gap-2 d-md-block">

								<button type="button" class="btn btn-dark btn-block" onclick="window.location.href = '{{ path('app_liste_restaurant_show', {'idrestaurant': Restaurant.idrestaurant}) }}';">Afficher</button>
								<button type="button" class="btn btn-dark btn-block" onclick="window.location.href = '{{ path('app_liste_restaurant_edit', {'idrestaurant': Restaurant.idrestaurant}) }}';" disabled>Modifier</button>
							</div>

						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">Aucune données trouvé</td>
					</tr>
				{% endfor %}


			</tbody>
		</tbody>
	</table>
</div>
<div class="vstack gap-2 col-md-5 mx-auto">
	<button type="button" class="btn btn-dark btn-block" onclick="window.location.href = '{{ path('app_liste_restaurant_new') }}';" disabled>Nouvaux restaurant</button>
</div>{% endblock %}
