{% extends 'base.html.twig' %}

{% block title %}Restaurant
{% endblock %}

{% block body %}
	<br>

	<div class="card text-white bg-dark card w-75 text-center mx-auto">
		<div class="card-header">
			<h1>Restaurant
				{{Restaurant.nom}}</h1>
		</div>
	</div>
	<br>
	<div>
		<div class="container">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8 ">
					<div class="card text-center">
						<div class="card-body">
							<br>
							<div class="m-5 border-dark">
								<table class="table text-center table-bordered  p-3">
									<tbody>
										<tr>
											<th>ID</th>
											<td>{{ Restaurant.idrestaurant }}</td>
										</tr>
										<tr>
											<th>Nom Brasserie</th>
											<td>{{ Restaurant.nom }}</td>
										</tr>
										<tr>
											<th>Description</th>
											<td>{{ Restaurant.description }}</td>
										</tr>
										<tr>
											<th>Siret</th>
											<td>{{ Restaurant.siret }}</td>
										</tr>
										<tr>
											<th>Site Internet</th>
											<td>
												<a href="{{ Restaurant.siteinternet }}" class="text-dark" style="text-decoration:none;">
													{{ Restaurant.siteinternet }}
												</a>
											</td>
										</tr>
										<tr>
											<th>Adresse</th>
											<td>{{ Restaurant.adresse }}</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="vstack gap-2 col-md-5 mx-auto">

								<button type="button" class="btn btn-dark" onclick="window.location.href = '{{ path('app_liste_restaurant_edit', {'idrestaurant': Restaurant.idrestaurant}) }}';">Modifier</button>
							</div>
							<br>
							{{ include('liste_restaurant/_delete_form.html.twig') }}
							<br>
							<div class="vstack gap-2 col-md-5 mx-auto">

								<button type="button" class="btn btn-outline-secondary" onclick="window.location.href = '{{ path('app_liste_restaurant') }}';">Retour vers liste des Restaurants</button>

							</div>


						</div>
					</div>
				</div>
				<div class="col-2"></div>
			</div>
		</div>
	</div>
	<center>
		<br>
		<div class="table-responsive-lg blocStyle">
			<table>
				<thead>
					<h3 class=" text-center">
						<b>Produit du Restaurant</b>
					</h3>
					<hr class=" text-white">

					{% for Produit in Produits %}


						<div class="card m-3 bg-light text-center" style="max-width: 540px;">
							<div class="row g-0">
								<div class="col-md-4 mb-3 mt-3">
									<a href="/fiche/{{ Produit.getIdproduit() }}">
										{% if Produit.getPhoto() == null %}
											<img src="{{asset('Images/platsdefault.jpg')}}" class="img-fluid" alt="" style="height: 200px;"></a>
									{% else %}
										<img src="{{ Produit.getPhoto() }}" class="img-fluid" alt="" style="height: 200px;"></a>
								{% endif %}

							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title">
										<a href="/fiche/{{ Produit.getIdproduit() }}" class="text-dark" style="text-decoration:none;">
											{{ Produit.getNom() }}
										</a>
									</h5>
									<p class="card-text text-dark">{{ Produit.getDescription }}</p>
									<button class="btn btn-outline-info " type="button" >Ajouter au panier</button>

									<p class="card-text">
										<small class="text-muted ">Ajouté le
											{{ Produit.getDatecreation().format('Y-m-d') }}</small>
										<h3 style="color:black"></h3>
									</p>
								</div>
							</div>
						</div>
					</div>


				{% endfor %}

				<tr>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr></tr>
			</tbody>
		</table>
	</div>
</center>{% endblock %}
