<form method="post" action="{{ path('app_produit_commande_quantite_delete', {'idProduitCommandeQuantite': produit_commande_quantite.idProduitCommandeQuantite}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit_commande_quantite.idProduitCommandeQuantite) }}">
    <button class="btn"> - 1</button>
</form>
