{% extends 'base.html.twig' %}

{% block title %}Edit ProduitCommandeQuantite{% endblock %}

{% block body %}
    <h1>Edit ProduitCommandeQuantite</h1>

    {{ include('produit_commande_quantite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_produit_commande_quantite_index') }}">back to list</a>

    {{ include('produit_commande_quantite/_delete_form.html.twig') }}
{% endblock %}
