{% extends 'base.html.twig' %}

{% block title %}ProduitCommandeQuantite index{% endblock %}

{% block body %}
    <h1>ProduitCommandeQuantite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdProduitCommandeQuantite</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit_commande_quantite in produit_commande_quantites %}
            <tr>
                <td>{{ produit_commande_quantite.idProduitCommandeQuantite }}</td>
                <td>{{ produit_commande_quantite.quantite }}</td>
                <td>
                    <a href="{{ path('app_produit_commande_quantite_show', {'idProduitCommandeQuantite': produit_commande_quantite.idProduitCommandeQuantite}) }}">show</a>
                    <a href="{{ path('app_produit_commande_quantite_edit', {'idProduitCommandeQuantite': produit_commande_quantite.idProduitCommandeQuantite}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_commande_quantite_new') }}">Create new</a>
{% endblock %}
