{% extends 'base.html.twig' %}

{% block title %}New ProduitCommandeQuantite{% endblock %}

{% block body %}
    <h1>Create new ProduitCommandeQuantite</h1>

    {{ include('produit_commande_quantite/_form.html.twig') }}

    <a href="{{ path('app_produit_commande_quantite_index') }}">back to list</a>
{% endblock %}
