{% extends 'base.html.twig' %}

{% block title %}ProduitCommandeQuantite{% endblock %}

{% block body %}
    <h1>ProduitCommandeQuantite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdProduitCommandeQuantite</th>
                <td>{{ produit_commande_quantite.idProduitCommandeQuantite }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ produit_commande_quantite.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produit_commande_quantite_index') }}">back to list</a>

    <a href="{{ path('app_produit_commande_quantite_edit', {'idProduitCommandeQuantite': produit_commande_quantite.idProduitCommandeQuantite}) }}">edit</a>

    {{ include('produit_commande_quantite/_delete_form.html.twig') }}
{% endblock %}
