<form method="post" action="{{ path('app_menu_commande_quantite_delete', {'idMenuCommandeQuantite': menu_commande_quantite.idMenuCommandeQuantite}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ menu_commande_quantite.idMenuCommandeQuantite) }}">
    <button class="btn">Delete</button>
</form>
