{% extends 'base.html.twig' %}

{% block title %}Edit MenuCommandeQuantite{% endblock %}

{% block body %}
    <h1>Edit MenuCommandeQuantite</h1>

    {{ include('menu_commande_quantite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_menu_commande_quantite_index') }}">back to list</a>

    {{ include('menu_commande_quantite/_delete_form.html.twig') }}
{% endblock %}
