{% extends 'base.html.twig' %}

{% block title %}MenuCommandeQuantite index{% endblock %}

{% block body %}
    <h1>MenuCommandeQuantite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdMenuCommandeQuantite</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu_commande_quantite in menu_commande_quantites %}
            <tr>
                <td>{{ menu_commande_quantite.idMenuCommandeQuantite }}</td>
                <td>{{ menu_commande_quantite.quantite }}</td>
                <td>
                    <a href="{{ path('app_menu_commande_quantite_show', {'idMenuCommandeQuantite': menu_commande_quantite.idMenuCommandeQuantite}) }}">show</a>
                    <a href="{{ path('app_menu_commande_quantite_edit', {'idMenuCommandeQuantite': menu_commande_quantite.idMenuCommandeQuantite}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_menu_commande_quantite_new') }}">Create new</a>
{% endblock %}
