{% extends 'base.html.twig' %}

{% block title %}New MenuCommandeQuantite{% endblock %}

{% block body %}
    <h1>Create new MenuCommandeQuantite</h1>

    {{ include('menu_commande_quantite/_form.html.twig') }}

    <a href="{{ path('app_menu_commande_quantite_index') }}">back to list</a>
{% endblock %}
