{% extends 'base.html.twig' %}

{% block title %}MenuCommandeQuantite{% endblock %}

{% block body %}
    <h1>MenuCommandeQuantite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdMenuCommandeQuantite</th>
                <td>{{ menu_commande_quantite.idMenuCommandeQuantite }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ menu_commande_quantite.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_menu_commande_quantite_index') }}">back to list</a>

    <a href="{{ path('app_menu_commande_quantite_edit', {'idMenuCommandeQuantite': menu_commande_quantite.idMenuCommandeQuantite}) }}">edit</a>

    {{ include('menu_commande_quantite/_delete_form.html.twig') }}
{% endblock %}
