<form method="post" action="{{ path('app_restaurant_delete', {'idrestaurant': restaurant.idrestaurant}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restaurant.idrestaurant) }}">
    <button class="btn">Delete</button>
</form>
