{% extends 'base.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
    <h1>Restaurant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idrestaurant</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Siret</th>
                <th>Siteinternet</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.idrestaurant }}</td>
                <td>{{ restaurant.nom }}</td>
                <td>{{ restaurant.description }}</td>
                <td>{{ restaurant.siret }}</td>
                <td>{{ restaurant.siteinternet }}</td>
                <td>{{ restaurant.adresse }}</td>
                <td>
                    <a href="{{ path('app_restaurant_show', {'idrestaurant': restaurant.idrestaurant}) }}">show</a>
                    <a href="{{ path('app_restaurant_edit', {'idrestaurant': restaurant.idrestaurant}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_restaurant_new') }}">Create new</a>
{% endblock %}
