{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
    <h1>Restaurant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idrestaurant</th>
                <td>{{ restaurant.idrestaurant }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ restaurant.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ restaurant.description }}</td>
            </tr>
            <tr>
                <th>Siret</th>
                <td>{{ restaurant.siret }}</td>
            </tr>
            <tr>
                <th>Siteinternet</th>
                <td>{{ restaurant.siteinternet }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ restaurant.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_restaurant_index') }}">back to list</a>

    <a href="{{ path('app_restaurant_edit', {'idrestaurant': restaurant.idrestaurant}) }}">edit</a>

    {{ include('restaurant/_delete_form.html.twig') }}
{% endblock %}
