{% extends 'base.html.twig' %}

{% block title %}Livreur index{% endblock %}

{% block body %}
    <h1>Livreur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idlivreur</th>
                <th>Email</th>
                <th>Motspasse</th>
                <th>Pseudo</th>
                <th>Telephone</th>
                <th>Photo</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Rib</th>
                <th>Etats</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livreur in livreurs %}
            <tr>
                <td>{{ livreur.idlivreur }}</td>
                <td>{{ livreur.email }}</td>
                <td>{{ livreur.motspasse }}</td>
                <td>{{ livreur.pseudo }}</td>
                <td>{{ livreur.telephone }}</td>
                <td>{{ livreur.photo }}</td>
                <td>{{ livreur.nom }}</td>
                <td>{{ livreur.prenom }}</td>
                <td>{{ livreur.rib }}</td>
                <td>{{ livreur.etats }}</td>
                <td>
                    <a href="{{ path('app_livreur_show', {'idlivreur': livreur.idlivreur}) }}">show</a>
                    <a href="{{ path('app_livreur_edit', {'idlivreur': livreur.idlivreur}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_livreur_new') }}">Create new</a>
{% endblock %}
