{% extends 'base.html.twig' %}

{% block title %}Livreur{% endblock %}

{% block body %}
    <h1>Livreur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idlivreur</th>
                <td>{{ livreur.idlivreur }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ livreur.email }}</td>
            </tr>
            <tr>
                <th>Motspasse</th>
                <td>{{ livreur.motspasse }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ livreur.pseudo }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ livreur.telephone }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ livreur.photo }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ livreur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ livreur.prenom }}</td>
            </tr>
            <tr>
                <th>Rib</th>
                <td>{{ livreur.rib }}</td>
            </tr>
            <tr>
                <th>Etats</th>
                <td>{{ livreur.etats }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_livreur_index') }}">back to list</a>

    <a href="{{ path('app_livreur_edit', {'idlivreur': livreur.idlivreur}) }}">edit</a>

    {{ include('livreur/_delete_form.html.twig') }}
{% endblock %}
