<form method="post" action="{{ path('app_commande_delete', {'idcommande': commande.idcommande}) }}" onsubmit="return confirm('Vous etes sur d'annuler la commande');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.idcommande) }}">
    
    <button class="btn btn-outline-danger">Supprimer commande</button>

</form>
