{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idcommande</th>
                <th>Adresse</th>
                <th>Prix</th>
                <th>Etats</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td>{{ commande.idcommande }}</td>
                <td>{{ commande.adresse }}</td>
                <td>{{ commande.prix }}</td>
                <td>{{ commande.etats }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'idcommande': commande.idcommande}) }}">show</a>
                    <a href="{{ path('app_commande_edit', {'idcommande': commande.idcommande}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}">Create new</a>
{% endblock %}
