{% extends 'base.html.twig' %}

{% block title %}Edit Commande
{% endblock %}

{% block body %}

	<center>
		<h1 class="display-6 fw-bold">Pas de commande en cours</h1>
		<br>
		<button class="btn btn-info " 
        onclick="window.location.href = '/liste_produit';" type="button"> Liste Des Produits </button></center>

	{% endblock %}
