{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idcommande</th>
                <td>{{ commande.idcommande }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ commande.adresse }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ commande.prix }}</td>
            </tr>
            <tr>
                <th>Etats</th>
                <td>{{ commande.etats }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}">back to list</a>

    <a href="{{ path('app_commande_edit', {'idcommande': commande.idcommande}) }}">edit</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
