{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}

	{% if  commande.idcommande is defined %}


		<h1>Commande</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Prix</th>
					<td>{{ prixtotal }}</td>
				</tr>
				<tr>
					<th>Etats</th>
					<td>{{ commande.etats }}</td>
				</tr>
			</tbody>
		</table>
		<div class="container">
			<center>

				<h4 class="display-6 ">Produits</h4><br>
			</center>

			<div class="row row-cols-3">

				{% for ProduitCommandeQuantite in commande.getIdProduitCommandeQuantite() %}
					{% if ProduitCommandeQuantite.getQuantite() > 0 %}
						<div class="col mb-3">

							<div class="card h-100 ">

								{% if ProduitCommandeQuantite.getIdproduit.getPhoto() == null %}
									<img src="{{asset('Images/platsdefault.jpg')}}" class="card-img-top" alt="...">
								{% else %}
									<img src="{{ asset(ProduitCommandeQuantite.getIdproduit.getPhotoAvecChemin()) }}" class="img-fluid" alt="" style="height: 200px;"></a>
							{% endif %}

							<div class="card-body">

								<h5 class="card-title">{{ ProduitCommandeQuantite.getIdproduit.getNom }}</h5>
								<p class="card-text">{{ ProduitCommandeQuantite.getIdproduit.getDescription }}</p>
								<br>
								<p class="fw-bold">
									Prix unitaire :
									{{  ProduitCommandeQuantite.getIdproduit.getPrix}}
								</p>
								<p class="fw-bold">
									Nombre de plat :
									{{  ProduitCommandeQuantite.getQuantite()}}
								</p>
								<div class=' position-absolute bottom-0 start-50 translate-middle-x m-2'>


									<button class="btn btn-outline-danger " onclick="window.location.href = '{{ path('app_produit_commande_quantite_Decrementation',  {'idProduitCommandeQuantite': ProduitCommandeQuantite.idProduitCommandeQuantite}) }}';" type="button">- 1</button>
									<button class="btn btn-outline-info " onclick="window.location.href = '{{ path('app_liste_produit_Commande_Produit_Panier', {'idproduit': ProduitCommandeQuantite.getIdproduit.getIdproduit }) }}';" type="button">
										+ 1</button>
								</div>
							</div>
						</div>

					</div>

				{% endif %}

			{% endfor %}

		</div>
		<center>
			<hr style="width:50%;text-align:center;">
			<h4 class="display-6">Menus</h4>
		</center>
		<div class="row row-cols-3">

			{% for MenuCommandeQuantite in commande.getIdMenuCommandeQuantite() %}
				{% if MenuCommandeQuantite.getQuantite() > 0 %}

					<div class="col mb-3">

						<div class="card h-100 ">

							{% if MenuCommandeQuantite.getIdmenu.getPhoto() == null %}
								<img src="{{asset('Images/platsdefault.jpg')}}" class="card-img-top" alt="...">
							{% else %}
								<img src="{{ asset(MenuCommandeQuantite.getIdmenu.getPhotoAvecChemin()) }}" class="img-fluid" alt="" style="height: 200px;"></a>
						{% endif %}

						<div class="card-body">
							<h5 class="card-title">{{ MenuCommandeQuantite.getIdmenu.getNom }}</h5>
							<p class="card-text">{{ MenuCommandeQuantite.getIdmenu.getDescription }}</p>
							<br>
							<p class="fw-bold">
								Prix unitaire :
								{{  MenuCommandeQuantite.getIdmenu.getPrix}}
							</p>
							<p class="fw-bold">
								Nombre de plat :
								{{  MenuCommandeQuantite.getQuantite()}}
							</p>
							<div class=' position-absolute bottom-0 start-50 translate-middle-x m-2'>


								<button class="btn btn-outline-danger " onclick="window.location.href = '{{ path('app_menu_commande_quantite_Decrementation',  {'idMenuCommandeQuantite': MenuCommandeQuantite.idMenuCommandeQuantite}) }}';" type="button">- 1</button>
								<button class="btn btn-outline-info " onclick="window.location.href = '{{ path('app_liste_produit_Commande_Menu_Panier', {'idmenu': MenuCommandeQuantite.getIdmenu.getIdmenu }) }}';" type="button">
									+ 1</button>
							</div>
						</div>
					</div>

				</div>

			{% endif %}

		{% endfor %}

	</div>


	<hr>


</div>
<div>
<center>
	{{ include('commande/_delete_form.html.twig') }}
	<br>
	<button class="btn btn-info " onclick="window.location.href = '/PayerCommande';" type="button">
		Payer</button></center>
</div>{% else %}


<center>
	<div class="card text-bg-danger mb-3" style="max-width: 18rem;">
		<div class="card-header">Pas de commande en cours</div>
	</div>
	<button type="button" class="btn btn-info" onclick="window.location.href = '/liste_produit';">Commander</button>

</center>{% endif %}{% endblock %}
