{% extends 'base.html.twig' %}

{% block title %}Hello PaiementController!
{% endblock %}

{% block body %}


	{{ form_start(form) }}
	<div class="row">
		<div class="col-3"></div>

		<div class="col-3">
			<label for="Nom" class="form-label">Nom :</label>
			<br>
			<br>

			<label for="NumeroCarteBancaire" class="form-label">Numero Carte Bancaire :</label>
			<br>
			<br>

			<label for="DateExpiration" class="form-label">Date Expiration :</label>
			<br>
			<br>

			<label for="Cvv" class="form-label">Cvv :</label>
			<br>
			<br>

			<label for="adresse" class="form-label">Adresse :</label>
			<br>
			<br>

		</div>
		<div class="col-2">

			{{ form_widget(form.Nom) }}
			<br>
			<br>

			{{ form_widget(form.NumeroCarteBancaire) }}
			<br>
			<br>

			{{ form_widget(form.DateExpiration) }}
			<br>
			<br>

			{{ form_widget(form.Cvv) }}
			<br>
			<br>

			{{ form_widget(form.adresse) }}
			<br>
			<br>

		</div>
		<div class="col-4"></div>

	</div>
		<div class="vstack gap-2 col-md-5 mx-auto">
        	<center>

			<div class="btn-group" role="group" aria-label="Basic mixed styles example">
				<button type="button" class="btn btn-outline-danger"
                onclick="window.location.href = '/commande/EnCours';" >Retour</button>

				<button class="btn btn-info">{{ button_label|default('Payer') }} {{ prixtotal }} €</button>
			</div>
	</center>

		</div>

	{{ form_end(form) }}


{% endblock %}
