<form method="post" action="{{ path('app_menu_delete', {'idmenu': menu.idmenu}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ menu.idmenu) }}">
    <button class="btn">Delete</button>
</form>
