{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block body %}
    <h1>Menu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idmenu</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Photo</th>
                <th>Quantité</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.idmenu }}</td>
                <td>{{ menu.nom }}</td>
                <td>{{ menu.description }}</td>
                <td>{{ menu.prix }}</td>
                <td>{{ menu.photo }}</td>
                <td>{{ menu.quantité }}</td>
                <td>
                    <a href="{{ path('app_menu_show', {'idmenu': menu.idmenu}) }}">show</a>
                    <a href="{{ path('app_menu_edit', {'idmenu': menu.idmenu}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_menu_new') }}">Create new</a>
{% endblock %}
