{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <h1>Menu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idmenu</th>
                <td>{{ menu.idmenu }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ menu.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ menu.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ menu.prix }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ menu.photo }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ menu.quantité }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_menu_index') }}">back to list</a>

    <a href="{{ path('app_menu_edit', {'idmenu': menu.idmenu}) }}">edit</a>

    {{ include('menu/_delete_form.html.twig') }}
{% endblock %}
