{% extends 'base.html.twig' %}

{% block title %}Commander
{% endblock %}

{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

{% for Restaurant in Restaurants %}
	<center><h4 class="display-5 fw-bold">{{ Restaurant.nom }}</h4><br>
      <hr style="width:50%;text-align;">

  </center>
	
	<div class="container">
	<center>

		<h4 class="display-6 ">Produits</h4><br>
	</center>

		<div class="row row-cols-3">

			{% for Produit in Produits %}
				{% if Produit.getIdrestaurant().getIdrestaurant() == Restaurant.getIdrestaurant() %}

					<div class="col mb-3">

						<div class="card h-100 ">

							{% if Produit.getPhoto() == null %}
								<img src="{{asset('Images/platsdefault.jpg')}}" class="card-img-top" alt="...">
							{% else %}
								<img src="{{ asset(Produit.getPhotoAvecChemin()) }}" class="img-fluid" alt="" style="height: 200px;"></a>
						{% endif %}

						<div class="card-body">
							<h5 class="card-title">{{ Produit.getNom }}</h5>
							<p class="card-text">{{ Produit.getDescription }}</p>
              <br>
							<button class="btn btn-outline-info position-absolute bottom-0 start-50 translate-middle-x m-2"  
              onclick="window.location.href = '{{ path('app_liste_produit_Commande_Produit', {'idproduit': Produit.getIdproduit }) }}';" type="button">Ajouter au panier</button>

						</div>
					</div>

				</div>
				{% else %}

			{% endif %}

		{% endfor %}
    
	</div>
	<center>
    <hr style="width:50%;text-align:center;">
		<h4 class="display-6">Menus</h4>
	</center>
		<div class="row row-cols-3">

			{% for Menu in Menus %}
				{% if Menu.getIdrestaurant().getIdrestaurant() == Restaurant.getIdrestaurant() %}

					<div class="col mb-3">

						<div class="card h-100 ">

							{% if Menu.getPhoto() == null %}
								<img src="{{asset('Images/platsdefault.jpg')}}" class="card-img-top" alt="...">
							{% else %}
								<img src="{{ asset(Menu.getPhotoAvecChemin()) }}" class="img-fluid" alt="" style="height: 200px;"></a>
						{% endif %}

						<div class="card-body">
							<h5 class="card-title">{{ Menu.getNom }}</h5>
							<p class="card-text">{{ Menu.getDescription }}</p>
              <br>
			  
							<button class="btn btn-outline-info position-absolute bottom-0 start-50 translate-middle-x m-2" 
              onclick="window.location.href = '{{ path('app_liste_produit_Commande_Menu', {'idmenu': Menu.getIdmenu }) }}';" type="button">Ajouter au panier</button>

						</div>
					</div>

				</div>
				{% else %}

			{% endif %}

		{% endfor %}
    
	</div>




	<hr >


</div>{% endfor %}{% endblock %}
